{% extends 'base.html.twig' %}

{% block title %}Page introuvable {% endblock %}

{% block body %}
<div class="error-content bg-light">
    <div class="container mx-auto">
        <h1> Erreur {{ status_code }}</h1>
        <h2> {{ msg }}</h2>
    </div>
</div>
{# <div class="pt-5 post-latest bg-light">
    <div class="container mx-auto">
        <div class="pb-3 row hidden-mobile">
            <div class="homepage__lists__title col d-flex justify-content-start align-items-center">
                <h2>Derniers articles</h2>
            </div>
            <div class="more-post float-end col d-flex justify-content-end align-items-center">
                <a class="justify-content btn btn-outline-dark " href="/blog">Voir
                    plus</a>
            </div>
        </div>
        <div class="flex flex-wrap -m-4">
            {% for post in posts %}
            <div class="p-4 lg:w-1/4 md:w-1/2 ">
                <div class="card">
                    <a href="{{ path('blog.show', {id: post.id, slug: post.slug }) }}">
                        {% if post.filename %}
                        <img class="rounded-md"
                            src="{{ vich_uploader_asset(post, 'imageFile')| imagine_filter('post_thumbnail') }}"
                            alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <a
                                        href="{{ path('categories.show',{id: post.category.id, slug: post.category.slug }) }}">{{ post.category.name }}</a><i
                                        class="far fa-user"></i>{{ post.user.username }} <i
                                        class="mdi mdi-calendar-alt"></i>
                                    <time
                                        datetime="{{ post.createdAt | date('c') }}">{{ post.createdAt | format_datetime('medium', 'short', locale='fr') }}</time>
                                </small>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> #}
{% endblock %}