{% extends 'admin.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
<div class="flex items-center justify-between pb-5">
    <h1 class="text-lg font-semibold">Events</h1>
    <a href="{{ path('app_event_new') }}"
        class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{{ button_label|default('Add Event') }}</a>
</div>

{# <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Cover</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>

                <td>{{ event.title }}</td>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>

                <td>{{ event.imageFile }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

<div class="w-full ">
    <div class="px-4 py-4 bg-white rounded">
        <div class=" mt-7">
            <table class="w-full whitespace-nowrap">
                <tbody>
                {% for event in events %}
                    <tr tabindex="0" class="h-16 border border-gray-100 rounded focus:outline-none">
                        <td class="">
                            <div class="flex items-center pl-5">
                                <p class="mr-2 text-base font-medium leading-none text-gray-700">
                                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">
                                        {{ event.title}}
                                    </a>
                                </p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                    fill="none">
                                    <path
                                        d="M6.66669 9.33342C6.88394 9.55515 7.14325 9.73131 7.42944 9.85156C7.71562 9.97182 8.02293 10.0338 8.33335 10.0338C8.64378 10.0338 8.95108 9.97182 9.23727 9.85156C9.52345 9.73131 9.78277 9.55515 10 9.33342L12.6667 6.66676C13.1087 6.22473 13.357 5.62521 13.357 5.00009C13.357 4.37497 13.1087 3.77545 12.6667 3.33342C12.2247 2.89139 11.6251 2.64307 11 2.64307C10.3749 2.64307 9.77538 2.89139 9.33335 3.33342L9.00002 3.66676"
                                        stroke="#3B82F6" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path
                                        d="M9.33336 6.66665C9.11611 6.44492 8.8568 6.26876 8.57061 6.14851C8.28442 6.02825 7.97712 5.96631 7.66669 5.96631C7.35627 5.96631 7.04897 6.02825 6.76278 6.14851C6.47659 6.26876 6.21728 6.44492 6.00003 6.66665L3.33336 9.33332C2.89133 9.77534 2.64301 10.3749 2.64301 11C2.64301 11.6251 2.89133 12.2246 3.33336 12.6666C3.77539 13.1087 4.37491 13.357 5.00003 13.357C5.62515 13.357 6.22467 13.1087 6.66669 12.6666L7.00003 12.3333"
                                        stroke="#3B82F6" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </td>

                        <td class="pl-5">
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <path d="M7.5 5H16.6667" stroke="#52525B" stroke-width="1.25" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path d="M7.5 10H16.6667" stroke="#52525B" stroke-width="1.25"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M7.5 15H16.6667" stroke="#52525B" stroke-width="1.25"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M4.16669 5V5.00667" stroke="#52525B" stroke-width="1.25"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M4.16669 10V10.0067" stroke="#52525B" stroke-width="1.25"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M4.16669 15V15.0067" stroke="#52525B" stroke-width="1.25"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                <p class="ml-2 text-sm leading-none text-gray-600">
                                    {{ event.start_date  | format_datetime('medium', 'short', locale='fr') }}

                                </p>
                            </div>
                        </td>

                        <td class="pl-5">
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <path
                                        d="M12.5 5.83339L7.08333 11.2501C6.75181 11.5816 6.56556 12.0312 6.56556 12.5001C6.56556 12.9689 6.75181 13.4185 7.08333 13.7501C7.41485 14.0816 7.86449 14.2678 8.33333 14.2678C8.80217 14.2678 9.25181 14.0816 9.58333 13.7501L15 8.33339C15.663 7.67034 16.0355 6.77107 16.0355 5.83339C16.0355 4.8957 15.663 3.99643 15 3.33339C14.337 2.67034 13.4377 2.29785 12.5 2.29785C11.5623 2.29785 10.663 2.67034 10 3.33339L4.58333 8.75005C3.58877 9.74461 3.03003 11.0935 3.03003 12.5001C3.03003 13.9066 3.58877 15.2555 4.58333 16.2501C5.57789 17.2446 6.92681 17.8034 8.33333 17.8034C9.73985 17.8034 11.0888 17.2446 12.0833 16.2501L17.5 10.8334"
                                        stroke="#52525B" stroke-width="1.25" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                                <p class="ml-2 text-sm leading-none text-gray-600">
                                    {{ event.end_date | format_datetime('medium', 'short', locale='fr') }}
                                </p>
                            </div>
                        </td>

                        <td class="pl-4">
                            <a href="{{ path('app_event_edit', {'id': event.id}) }}"
                                class="px-5 py-3 text-sm leading-none text-gray-600 bg-gray-100 rounded focus:ring-2 focus:ring-offset-2 focus:ring-red-300 hover:bg-gray-200 focus:outline-none">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




{% endblock %}