<footer class="flex text-gray-500 bg-white ">
		<div class="container max-w-screen-xl px-4 py-5 mx-auto">
	<ul class="items-center justify-center mt-8 space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
		<li class=" hover:text-gray-800 hover:decoration-2">
			<a href="{{ path('page.home') }}">Acceuil</a>
		</li>
		<li class=" hover:text-gray-800 hover:decoration-2">
			<a href="{{ path('blog.index') }}">Blog</a>
		</li>
		<li class=" hover:text-gray-800 hover:decoration-2">
			<a href="{{ path('page.live') }}">Live</a>
		</li>
		<li class=" hover:text-gray-800 hover:decoration-2">
			<a href="{{ path('page.tournoi') }}">Tournoi</a>
		</li>
		<li class=" hover:text-gray-800 hover:decoration-2">
			<a href="{{ path('page.about') }}">A propos</a>
		</li>
		<li class=" hover:text-gray-800 hover:decoration-2">
			<a href="{{ path('page.contact') }}">Contact</a>
		</li>
		
	</ul>
	<div class="items-center justify-between mt-8 sm:flex">
		<div class="mt-4 sm:mt-0">©{{  "now" | date('Y') }} Nest-Gaming - Tous droits réservés.</div>
		<div class="mt-6 sm:mt-0">
			<ul class="flex items-center space-x-2">
				<li class="flex items-center justify-center w-10 h-10">
					<a href="javascript:void()" aria-label="button twitter">
						{{ icon('twitter','23','fill-[#1DA1F2]')}}
					</a>
				</li>
				<li class="flex items-center justify-center w-10 h-10">
					<a href="javascript:void()" aria-label="button facebook">
						{{ icon('facebook','20', 'fill-[#4267B2]')}}
					</a>
				</li>
				<li class="flex items-center justify-center w-10 h-10">
					<a href="javascript:void()" aria-label="button twitch">
						{{ icon('twitch','21', 'fill-[#6441A4]')}}
					</a>
				</li>
				<li class="flex items-center justify-center w-10 h-10">
					<a href="javascript:void()" aria-label="button youtube">
						{{ icon('youtube','23', 'fill-[#FF0000]')}}
					</a>
				</li>
				<li class="flex items-center justify-center w-10 h-10">
					<a href="javascript:void()" aria-label="button discord">
						{{ icon('discord','23', 'fill-[#5865F2]')}}
					</a>
				</li>
				<li class="flex items-center justify-center w-10 h-10">
					<a href="javascript:void()" aria-label="button rss">
						{{ icon('rss','20', 'fill-[#f97316]')}}
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</footer>