
<nav id="header"	class="fixed top-0 z-50 w-full transition duration-300 ease-in-out shadow-md bg-nav">
	<div class="container flex flex-wrap items-center justify-between py-2 mx-auto">
		<div class="flex items-center flex-shrink-0 mr-6 text-white">
			<a class="text-white no-underline hover:text-white hover:no-underline" href="{{ path('page.home') }}">
				<img class="w-auto h-10 " width="151px" height="32px"
					src="{{ asset('build/images/logo-white-transparent.svg') }}" alt="Nest-gaming">
			</a>
		</div>

		<div class="block lg:hidden">
			<button id="btn-menu" aria-label="humburger button" class="flex items-center text-gray-500 hover:text-white hover:border-white">
				<svg xmlns="http://www.w3.org/2000/svg" fill="white" class="h-10 text-white" viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
				</svg>
			</button>
		</div>

		<div id="mobile-menu" class="flex-grow hidden w-full pt-6 lg:items-center lg:w-auto lg:block lg:pt-0"	>
			{% set route_name = app.request.attributes.get('_route') %}
			<ul class="items-center justify-end flex-1 list-reset lg:flex">
				<li>
					<a class="inline-block px-4 py-2  no-underline {% if route_name == "page.home" %}  font-bold text-white {% else %} text-white/60 no-underline hover:text-gray-200 hover:text-underline {% endif %}" 
					{% if route_name == "page.home" %} aria-current="page" {% endif %}
						href="{{ path('page.home') }}">Acceuil</a>
				</li>
				<li>
					<a class="inline-block px-4 py-2 no-underline {% if route_name == "blog.index" or  route_name == "blog.show"
					or route_name == "categories.list"   or route_name == "categories.show"
					or route_name == "tag.list" or route_name == "tag.show"%}  font-bold text-white {% else %} text-white/60 no-underline hover:text-gray-200 hover:text-underline {% endif %}"
					{% if route_name == "blog.index" %} aria-current="page" {% endif %}
						href="{{ path('blog.index') }}">Blog</a>
				</li>
				<li>
					<a class="inline-block px-4 py-2 no-underline {% if route_name == "page.tournoi" %}  font-bold text-white {% else %} text-white/60 no-underline hover:text-gray-200 hover:text-underline {% endif %}"
					{% if route_name == "page.tournoi" %} aria-current="page" {% endif %}
						href="{{ path('page.tournoi') }}">Tournoi</a>
				</li>
				<li>
					<a class="inline-block px-4 py-2 no-underline {% if route_name == "page.live" %}  font-bold text-white {% else %} text-white/60 no-underline hover:text-gray-200 hover:text-underline {% endif %}"
					{% if route_name == "page.tournoi" %} aria-current="page" {% endif %}
						href="{{ path('page.live') }}">Live</a>
				</li>
				<li>
					<a class="inline-block px-4 py-2 no-underline {% if route_name == "page.about" %}  font-bold text-white {% else %} text-white/60 no-underline hover:text-gray-200 hover:text-underline {% endif %}"
					{% if route_name == "page.about" %} aria-current="page" {% endif %}
						href="{{ path('page.about') }}">À propos</a>
				</li>
				<li>
					<a class="inline-block px-4 py-2 no-underline {% if route_name == "page.contact" %}  font-bold text-white {% else %} text-white/60 no-underline hover:text-gray-200 hover:text-underline {% endif %}"
					{% if route_name == "page.contact" %} aria-current="page" {% endif %}
						href="{{ path('page.contact') }}">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>