<section class="widget categories">
	<header class="widget__header">
		<h4 class="widget-title">Catégories</h4>
	</header>

	{# {% cache 'sidebar_category' ttl(300) %} #}
	{% for category in categories %}
	<div class="flex items-center justify-between">
		<a 	class="pb-2 font-normal text-slate-700 hover:font-medium hover:text-black" href="{{ path('categories.show', { id: category.id, slug: category.slug }) }}">
			{{ category.name }}
		</a>
		<span>{{ category.category|length }}</span>
	</div>
	{% endfor %}
	{# {% endcache %} #}

</section>

<section class="widget latest-articles">
	<header class="widget__header">
		<h4 class="widget-title">Articles récents</h4>
	</header>
	<div class="latest-article">
		{# {% cache 'sidebar_post-latest' ttl(300) %} #}
		{% for post in posts%}
		<a class="text-sm text-slate-700 hover:font-medium hover:brightness-50" href="{{ path('blog.show', {id: post.id, slug: post.slug }) }}">
			<div class="flex items-center pb-3 justify-self-auto ">
				<div class="mr-2 w-14">
						<img class="rounded lazyloading " width="65px" height="65px" src="{{ vich_uploader_asset( post, 'imageFile') | imagine_filter('post_sidebar') }}" alt="{{ post.title }}" >
				</div>
				<div class="w-full">
					<span>
						{{post.title |slice(0, 50) }} ...
					</span>

					<div class="article__meta">
						<time class="article__date timeago" datetime="{{ post.createdAt| date('c') }}">
							{{ post.createdAt|format_datetime('medium', 'none', locale='fr') }}
						</time>
					</div>

				</div>
			</div>
		</a>

		{% endfor %}
		{# {% endcache %} #}
	</div>
</section>

<section class="pb-5 widget comments">
	<header class="widget__header">
		<h4 class="widget-title">Commentaires récents</h4>
	</header>
	{# <div class="comment-list">
		{% cache 'sidebar_comment' ttl(300) %}
		{% for comment in comments | slice(0,1)%}
		<div class="flex comment">
		
			<div class="comment__content">
				<div class="text-sm comment__text">
					
					<a class="comment__user " rel="noreferrer"
						href="{{ path('author', {username: comment.user.nickname}) }}" >
						{{comment.user.nickname}}:
					</a>
					<br />

					<span>
						{{ comment.excerpt }}
					</span>
				</div>
				<a class="comment__link "
					href="{{ path('blog.show', {id: comment.post.id, slug: comment.post.slug }) }}#comment-{{ comment.id}}"
					title="{{ comment.post.title }}">
					{{ comment.post.title }}
				</a>
			</div>
		</div>
		{% endfor %} 
		{% endcache %}

	</div>  #}
	<div id="CombComments" class="dsq-widget"></div>
	<script type="text/javascript" src="https://nest-gaming.disqus.com/combination_widget.js?num_items=5&hide_mods=0&color=blue&default_tab=recent&hide_avatars=1&excerpt_length=100"></script>
</section>

<section class="widget tag-cloud ">
	<header class="widget__header">
		<h4 class="widget-title">Nuage de Tags</h4>
	</header>
	<div class="flex flex-wrap items-center -m-2">
		
		{# {% cache 'sidebar_tag' ttl(300) %} #}
		{% for tag in tags %}
			{% if tag.posts|length > 0 %}
			
				<a class="px-3 py-1 m-1 text-sm text-white rounded bg-zinc-800 " data-weight="{{ tag.posts|length }}"
					href="{{ path('tag.show', {id: tag.id, slug: tag.slug }) }}">
					{{ tag.name }} 
				</a>
			
			{% endif %}
		{% endfor %}
		{# {% endcache %} #}
	</div>
	
</section>