<?xml version="1.0"?>
<rss version="2.0">
    <channel>
        <title>Nest-gaming</title>
        <link>{{ hostname }}</link>
        <description>THE NEST la communauté des loups. Gaming, FPS, Stream,Twitch, Pubg, GTA RP, etc ...</description>
        {% for post in posts %}
            <item>
                <title>{{ post.title }}</title>
                <link>{{ hostname }}{{ path('blog.show', {id: post.id, slug: post.slug }) }}</link>
                <description>{{ post.excerpt }}</description>
                <pubDate>{{ post.createdAt | date("m/d/Y H:i e")}}</pubDate>
            </item>
        {% endfor %}
    </channel>
</rss>