{% extends 'admin.html.twig' %}

{% block title %}File manager{% endblock %}

{% block body %}
<section class="filemanager">
    <div class="relative flex items-center justify-between filemanager__header">
        <div class="filemanager__header__title">
            <h1 class="text-xl font-semibold text-lg:text-2xl ">File Manager</h1>
        </div>
        <div class="flex items-center justify-between filemanager__header__button">
            <button class="flex items-center p-2 mr-2 text-sm text-gray-600 bg-white border border-transparent rounded-md focus:border-blue-500 focus:ring-opacity-40 dark:focus:ring-opacity-40 focus:ring-blue-300 dark:focus:ring-blue-400 focus:ring dark:text-white dark:bg-gray-800 focus:outline-none">
               {{ icon('cloud-computing', '20', 'fill-current') }}
                <span class="mx-1 capitalize">Add</span>
            </button>
            <div class="relative inlineblock">
                {% set user = app.user %}
                <!-- Dropdown toggle button -->
                <button id="admin-btn"
                    class="relative z-10 flex items-center p-2 text-sm text-gray-600 bg-white border border-transparent rounded-md focus:border-blue-500 focus:ring-opacity-40 dark:focus:ring-opacity-40 focus:ring-blue-300 dark:focus:ring-blue-400 focus:ring dark:text-white dark:bg-gray-800 focus:outline-none">
                    <span class="mx-1 capitalize">{{ user.nickname }}</span>
                    <svg class="w-5 h-5 mx-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 15.713L18.01 9.70299L16.597 8.28799L12 12.888L7.40399 8.28799L5.98999 9.70199L12 15.713Z"
                            fill="currentColor"></path>
                    </svg>
                </button>

                <!-- Dropdown menu -->
                <div id="admin-menu"
                    class="absolute right-0 z-20 hidden w-56 py-2 mt-2 overflow-hidden bg-white rounded-md shadow-xl dark:bg-gray-800">
                    <a href="#"
                        class="flex items-center p-3 -mt-2 text-sm text-gray-600 transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                        <img class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9"
                            src="{{ vich_uploader_asset( user, 'imageFile') |  imagine_filter('user_thumbnail') }}"
                            alt="{{ user.nickname }}">
                        <div class="mx-1">
                            <h1 class="text-sm font-semibold text-gray-700 capitalize dark:text-gray-200">
                                {{ user.nickname }}
                            </h1>
                            <p class="text-sm text-gray-500 dark:text-gray-400">{{ user.email }}</p>
                        </div>
                    </a>

                    <hr class="border-gray-200 dark:border-gray-700 ">

                    <a href="{{ path('profile')}}"
                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                        view profile
                    </a>

                    <a href="#"
                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                        Settings
                    </a>

                    <a href="#"
                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                        Keyboard shortcuts
                    </a>

                    <hr class="border-gray-200 dark:border-gray-700 ">

                    <a href="#"
                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                        Company profile
                    </a>

                    <a href="#"
                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                        Team
                    </a>

                    <a href="#"
                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                        Invite colleagues
                    </a>

                    <hr class="border-gray-200 dark:border-gray-700 ">

                    <a href="#"
                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                        Help
                    </a>
                    <a href="{{ path('security.logout') }}"
                        class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                        Sign Out
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap pt-3 space-x-6 filemanager__content">
        <div class="card"></div>

        {% for image in images %}
        <div class="w-48 h-48 bg-white card">
            <div class="no-media">
                <p>No Media</p>
            </div>
        </div>
        {% else %}
        <div class="flex items-center justify-center w-48 h-48 bg-white border rounded shadow card">
        <div class="no-media">
            <p>No Media</p>
        </div>
    </div>
        {% endfor %}
    </div>
</section>
{% endblock %}